body{
    background-color:  rgb(192, 232, 237) ;
}
.websiteheader{  
    background-color: rgb(89, 227, 227);
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items:center;
}
.main{
background-color: rgb(89, 227, 227);
color:white;
padding:50px;
align-items: center;
display: flex;
flex-direction: row;

}
:hover.main{
    background-color: rgb(219, 255, 255);
    color: red;
    
    transition: 5s;
}

.home{
padding:20px;
align-items: center;
display: flex;
flex-direction: row;
background-color:  rgb(192, 232, 237);
}
.info{
 color: rgb(21, 108, 134);
}


.places{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}

.card{
border:1px solid gray;
padding:20px;
width:200px;
}

/* Responsive Design */

@media (max-width:768px){

.places{
flex-direction:column;
align-items:center;
}

nav a{
display:block;
margin:8px;
}

}